---
layout: home
---


<div class="main-gallery js-flickity"
  data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround":true}'>
    <div class="gallery-cell"><img class='bg' src='assets/statics/1.jpg'></div>
    {% for event in site.events limit:3 %}
        {% if event.banner %}
            <div class="gallery-cell" style='background-image: url("/assets/events/{{event.banner}}")'>{{event.name}}</div>
        {% elsif event.image %}
            <div class="gallery-cell" style='padding-top:100px'><div class='pad'><div>
                <div style='display:flex'>
                    <img src='/assets/events/{{event.image}}' class='image'>
                    <div>
                        <h2>{{event.name}}</h2>
                        <p>{{event.intro}}</p>
                        <button onclick="window.location.href='{{event.url}}'">Learn More</button>
                    </div>
                </div>
            </div></div></div>
        {% endif %}

    {% endfor %}
  </div>
<br>
<div class='pad'><div>
    <h2>Get Involved in STEM at UCC</h2>
    <p>STEM at UCC is a website built by the STEM committee which provides a central hub of information for anything STEM related at UCC - ...
        [placeholder] Some of the many exciting and innovative aspects of UCC’s IB curriculum involve courses that employ Design Thinking and Design Innovation, which focus on generating solutions to real-world problems. Design courses combine research, awareness-building about societal issues and implications, design creation, as well as prototype development and execution.</p>
</div></div>



<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
