---
layout: home
---


<div class="main-gallery js-flickity"
  data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround":true}'>
    <div class="gallery-cell"><img class='bg' src='assets/statics/1.jpg'></div>
    {% for event in site.events limit:3 %}
        {% if event.banner %}
            <div class="gallery-cell" style='background-image: url("/assets/events/{{event.banner}}")'>{{event.name}}</div>
        {% elsif event.image %}
            <div class="gallery-cell" style='padding-top:100px'><div class='pad'><div>
                <div style='display:flex'>
                    <img src='/assets/events/{{event.image}}' class='image'>
                    <div>
                        <h2>{{event.name}}</h2>
                        <p id='intro'>{{event.intro}}</p>
                        <button onclick="window.location.href='{{event.url}}'">Learn More</button>
                    </div>
                </div>
            </div></div></div>
        {% endif %}

    {% endfor %}
  </div>
<br>
<div class='pad'><div>
    <h2>Get Involved in STEM at UCC</h2>
    <p>Upper Canada College offers many exciting and innovative STEM activities. Built by the STEM committee, this website provides a central hub of information, thoughts, and resources for everything related to STEM at the college. Check out the STEM activities students are engaged in!</p>
</div></div>



<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
