<div class='footer'><div class='pad'><div>
    <div class='flex'>
        <div>
            <h2 style='font-weight: normal;'>UCC <b>STEM</b></h2>
            <div><a class='social' onclick='window.open("https://www.instagram.com/uccstem/")'><i class='fab fa-instagram'></i></a>
            <a class='social' onclick="window.open('https://github.com/uccstem/uccstem.github.io')"><i class='fab fa-github'></i></a></div>
            <br>
            <p>Made by Jayson Tian <br>and Ryan Chan</p>
        </div>
        <div id='sitelinks'>
            <h3>Site Links</h3>
            <p><a href='/'>Home</a></p>
            <p><a href='/events'>Events</a></p>
            <p><a href='/articles'>Articles</a></p>
            <p><a href='/clubs'>Clubs</a></p>
        </div>
        <div style='width:300px;'>
            <h3>Join / Contact</h3>
            <p>Want to join the club, post an article, or upload a page? Fill out <a href='https://forms.gle/JvQGnoFPyAWesvZ18'>this form</a></p><br>
            <p>For further inquiries, please <a href='mailto:jayson.tian@ucc.on.ca,ryan.chan@ucc.on.ca,pmiskew@ucc.on.ca'>email us</a></p>
        </div>
    </div>
</div></div>
</div>
