

<header>
    <div class='con'>
        <div  id='site-title' onclick="window.location.href='/'">
            <img id ='logo' src="/assets/statics/logo.png" alt="">
            <div>
                <h1>STEM</h1>
                <p>Upper Canada College</p>
            </div>
        </div>
        
        
        <nav>
            <a href="{{ '/events' | prepend: site.baseurl }}">Events</a>
            <a href="{{ '/articles' | prepend: site.baseurl }}">Articles</a>
            <a href="{{ '/clubs' | prepend: site.baseurl }}">Clubs</a>
            <a onclick='window.open("https://www.instagram.com/uccstem/")'><i class='fab fa-instagram' style='font-size:16pt;'></i></a>
        </nav>
    </div>
</header>