@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

$main:white;
$content-width: 900px;
$primary: #2470bb;
$primary-light: #c7e4ff;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #e7edf4;
$header: #1d1425;
$black: rgb(20, 20, 20);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    font-family:Noto Sans JP;
    margin:0px;
}

.pad {
    display:flex;
    width:100%;
    padding:0px 30px;
}

.pad > div{
    margin:auto;
    width:$content-width;
}

button {
    font-family: Noto Sans JP;
    font-size:12pt;
    font-weight:700;
    padding:5px 15px;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
    background-color:$primary;
}

a {
    color:$primary;
    font-weight:700;
    text-decoration: none;
    border-bottom: 2px solid $primary;
}

a:hover{
    background-color:$primary-light
}

.flex {
    display:flex;
    justify-content: space-between;
}